@import 'partials/variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
nav {
height: 60px;
width: 100%;
display: flex;
color: $white-color;
 .media {
    width: 20%;
    height: 60px;
    background-color: $color;
    padding: 15px;
}
  .sp {

    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 80, 80);
    span {
   padding: 17px;
 }
  img {
    border-radius: 50%;
  }
}
}
.container1 {
    background-color: rgb(5, 5, 21);
    width: 20%;
    height: 590px;
    nav ul li  {
        line-height: 20px;
        margin-left: 25px;
margin: 20px;
       
    }
    h3{
        background-color:gray;
        width: 107%;
        height: 30px;
        padding: 5px;
        color: $color;
        i {
        margin-left: 100px;
        color:black;
        }
    }
     img {
        border-radius: 50%;
     }
     span {
        color: $color;
     }
  
}
.common {
    display: flex;
    justify-content: space-between;
 }
 .container2 {
    width: 80%;
    background-color: rgb(31, 30, 30);
    .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: calc(100%/1.5);
    margin: 4px;

    
   
    }
    h2 {
        color: $white-color;
    }
    p {
        color: rgb(58, 96, 96);
    }
    
}
    .new {
        height: 60px;
        width: 100%;
        background-color:  rgb(31, 30, 30);
        color: $white-color;
        font-size: 30px;
        margin-left: 50px;
        padding: 15px;
    }
    h1 {
        color: $white-color;
    }
 
 .row {
    p {
        color: $color;
    }
    h3 {
        color: $white-color;
    }
    .bal {
        text-align: center;
        color: $white-color;
        border: 1px solid orange;
        width: 30px;
        height: 18px;
        border-radius: 20px;
        background-color: orange;
        position: relative;
        top: 5px;
        left: 60px;
    }
    
    .img {
        width: 150px;
        height: 200px;
        background-size: 100%;
        background-position: center;
        i{
             font-size: 60px;
             color: $white-color;
             padding: 70px 50px;
             opacity: 0;
             transition: .5s;
        }
        &:hover i{
            color: $white-color;
            opacity: 0.6;
            background-color: $color;
        }
    }
}